.parentintro {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.filmreels{
 
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 10px 1fr 10px 1fr ;
    overflow-x: hidden;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.reel{
    background-color: black;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    gap: 10px;
    flex-wrap: none;
    overflow-x:hidden;
    overflow-y:hidden;
    width: 30000px;
    
}

.reelpic{
 height: 100%;
 width: 300px;
 flex-shrink: 0;
 flex-grow: 0;

}
.left1{
    grid-row: 1/2;
    justify-content: flex-start;
    scroll-behavior:smooth;
    animation: moveleft 6.2s ease-in 0s 1 normal forwards;
    opacity: 1;
}
.left2{
    grid-row: 3/4;
    justify-content: flex-end;
    scroll-behavior:smooth;
    animation: moveright 6.2s ease-in 0s 1 normal forwards;
    transform: translateX(-22460px);
    opacity: 1;
   
}
.center{
    grid-row: 5/6;
    justify-content: flex-start;
    scroll-behavior:smooth;
    animation: moveleft 6.2s ease-in 0s 1 normal forwards;
    opacity: 1;
}

@keyframes moveleft{
    0%{
        transform: translate(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-10000px);
        opacity: 0;
    }
}

@keyframes moveright{
    0%{
        transform: translateX(-22460px);
    
        opacity: 1;
    }

    50%{
        opacity: 0.9;
    }
    100% {
        transform: translateX(-12000px);
        opacity: 0;
    }
}


.left1 .reelpic{
    background-color: aqua;
}
.left2 .reelpic{
    background-color: red;
}
.center .reelpic{
    background-color: blue;
}

.reelimage{
    height: 100%;
    width: 100%;
    object-fit: cover;
   background-color: black;
}