.parentintro1{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  }
  .vsc-controller {
      display: none;
  }
  .filmreels1{
   
      height: 100%;
      width: 100%;
      background-color: transparent;
      /* display: grid;
      grid-template-rows: 1fr 10px 1fr 10px 1fr ; */
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      animation: videodisappear 7.6s ease 0s 1 normal forwards;
  }
  @keyframes videodisappear{
      0%{
        opacity: 1;
      }
    
      45%{
          opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }
  
  